.App {
  height: 100vh;
  background-color: #43B0A1;
  overflow: scroll;
  text-align: center;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.container {
  height: 100%;
  background-color: #43B0A1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.sub-text {
  font-size: 16px;
  color: white;
}

.cta-button {
  height: 45px;
  border: 10;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-button {
  min-width: 130px;
  font-size: 20px;
  height: 60px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #ef233c;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}
.connect-wallet-button:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.control-panel-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.menu-button {
  min-width: 130px;
  font-size: 20px;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #ef233c;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}
.menu-button:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.content-button {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.content-sub {
  display: flex;
}

.cta-sub-button {
  height: 35px;
  border: 10;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-left: 12px;
  margin-top: 8px;
}

.content-sub-button {
  background-color: #3fc6de;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.submit-button {
  height: 50px;
  border: 10;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 12px;
  margin-top: 12px;
}

.content-input {
  width: 300px;
}

.content-input-name {
  width: 200px;
}

.file-name-text {
  font-size: 15px;
  color: white;
}

.sample-midi-text {
  font-size: 12px;
  color: white;
}

.content-list-button {
  margin-top: 10px;
}

.control-panel-text {
  font-size: 12px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.control-panel-title {
  font-size: 18px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.control-back-button-text {
  font-size: 16px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
}

.footer-container {
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 50px;
}

.licence-text {
  color: white;
  font-size: 12px;
}

.play-list-cell {
  padding-top: 20px;
}

.play-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #4433ff;
  background: #4433ff;
  padding-right: 10px;  
}
.play-button:hover {
  background: #fff;
  color: #4433ff
}

.transfer-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #d90429;
  background: #d90429;
  padding-right: 10px;  
}
.transfer-button:hover {
  background: #fff;
  color: #d90429
}

.back-to-menu-button {
  min-width: 130px;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #ff0a78;
  background: #ff0a78;
}
.back-to-menu-button:hover {
  background: #fff;
  color: #ff0a78
}

.mint-submit-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #4433ff;
  background: #4433ff;
}
.mint-submit-button:hover {
  background: #fff;
  color: #4433ff
}

play-list-root {
  padding: 0;
  position: relative;
}

play-list-cell {
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
}

ul {
  list-style: none;
}
  
span.dan {
  float: left;
  margin-left: 30px;
}
  
span.dan2 {
  display: block;
  margin-top: 10px;
  margin-left: 350px;
}

ul.song-list, ol.song-list {
  padding: 0;
  position: relative;
}

ul.song-list li, ol.song-list li {
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
}
